.products-list {
    overflow: auto;
    width: 100%;
    position: relative;

    &::-webkit-scrollbar {
        width: 6px;
        height: 4px;
        border-left: #E4004B 1px solid;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E4004B;
        border-radius: 25px;
    }
}

.products-list .category-field {
    display: flex;
    align-items: center;
    padding: 22px 22px 8px;
    gap: 20px;
    overflow-x: auto;
    width: 90%;
    margin: 0 auto 14px;

    &::-webkit-scrollbar {
        height: 2px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E4004B;
        border-radius: 25px;
    }
}

.products-list .category-field li {
    border-radius: 20px;
    border: 2px solid;
    padding: 8px 15px;
    letter-spacing: .8px;
    color: aliceblue;
    background-color: #E4004B;

    &:hover {
        color: #E4004B;
        background-color: aliceblue;
        border: 2px solid #E4004B;
        cursor: pointer;
    }
}

.products-list .list-table-format {
    display: grid;
    grid-template-columns: .5fr 2fr .5fr .6fr .5fr .5fr;
    align-items: center;
    padding: 10px 14px;
    border-bottom: 1px solid #E4004B;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.products-list .list-table-format:nth-child(2) {
    font-weight: 800;
    border-top: 1px solid #E4004B;
    font-size: 15px;
}

.products-list .list-table .list-table-format img {
    width: 68px;
    max-height: 68px;
    border: 1px solid #E4004B;
    border-radius: 15px;
}

.products-list .list-table .list-table-format li:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
}

.products-list .list-table .list-table-format li:last-child button {
    width: 80px;
    border-radius: 20px;
    border: 2px solid;
    padding: 8px;
    color: aliceblue;
    background-color: #E4004B;
    font-weight: 500;

    &:hover {
        color: #E4004B;
        background-color: aliceblue;
        border: 2px solid #E4004B;
        cursor: pointer;
    }
}

@media (max-width: 700px) {
    .products-list .category-field {
        width: 188%;
        position: relative;
        left: 6%;
    }

    .products-list .list-table-format {
        width: 200%;
    }
}

@media (max-width: 500px) {
    .products-list .list-table-format {
        font-size: 13px;
        padding: 6px 8px;
    }

    .products-list .list-table-format:nth-child(2) {
        font-size: 12px;
    }

    .products-list .list-table .list-table-format img {
        width: 47px;
        max-height: 47px;
    }

    .products-list .list-table .list-table-format li:last-child {
        gap: 2px;
    }

    .products-list .list-table .list-table-format li:last-child button {
        width: 56px;
        padding: 5px;
        font-size: 10px;
    }
}