aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 14px;
    border-right: 2px solid #E4004B;
}

.btn {
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid;
    padding: 5px;
    color: aliceblue;
    background-color: #E4004B;
}

.btn:hover {
    color: #E4004B;
    background-color: aliceblue;
    border: 2px solid #E4004B;
    cursor: pointer;
}

.active .btn {
    color: #E4004B;
    background-color: aliceblue;
    border: 2px solid #E4004B;
}

@media (max-width: 900px) {
    aside {
        flex-direction: row;
        border-right: none;
        border-bottom: 2px solid #E4004B;
        padding: 14px;
    }
}

@media (max-width: 500px) {
    aside {
        justify-content: space-around;
        padding: 14px 0;
    }

    .btn {
        width: 100px;
        font-size: 14px;
        border-radius: 15px;
    }
}